
#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!-- TODO update this so that the version number populates from maven. Also - dynamically 
  update the schema location path to point to the appropriate tag within github (can 
  I be clever enough to figure this out from the maven isaac version?) -->
<isaacAppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="${app.schema.location}">

  <!-- This file is validated against a schema, thus the order
       of each of these entries matters.  Do not change it without
       also updating the corresponding schema. 
       
       NOTE: there is also now a validation routine so this
       file must use archetype parameters instead of pom.xml
       parameters - meaning that if top-level pom.xml parameters
       are changed after archetype is run, this file will also
       need to be udpated.
       -->

  <!-- Archetype properties -->
  <archetypeGroupId>${archetypeGroupId}</archetypeGroupId>
  <archetypeArtifactId>${archetypeArtifactId}</archetypeArtifactId>
  <archetypeVersion>${archetypeVersion}</archetypeVersion>

  <!-- ISAAC software version -->
  <isaacVersion>${isaacVersion}</isaacVersion>

  <!-- Repositories for code and artifacts -->
  <scmConnection>${scmConnection}</scmConnection>
  <scmUrl>${scmUrl}</scmUrl>
  <distReposId>${distReposId}</distReposId>
  <distReposName>${distReposName}</distReposName>
  <distReposUrl>${distReposUrl}</distReposUrl>
  <distReposSnapId>${distReposSnapId}</distReposSnapId>
  <distReposSnapName>${distReposSnapName}</distReposSnapName>
  <distReposSnapUrl>${distReposSnapUrl}</distReposSnapUrl>

  <!-- Database version info -->
  <dbGroupId>${dbGroupId}</dbGroupId>
  <dbArtifactId>${dbArtifactId}</dbArtifactId>
  <dbVersion>${dbVersion}</dbVersion>
  <dbClassifier>${dbClassifier}</dbClassifier>
  <dbType>${dbType}</dbType>

  <!-- Users version info - PLACEHOLDER
  <usersGroupId>${users.group.id}</usersGroupId>
  <usersArtifactid>${users.artifactid}</usersArtifactid>
  <usersVersion>${users.version}</usersVersion>
   -->

  <!-- Drools version info - PLACEHOLDER
  <droolsGroupId>${drools.group.id}</droolsGroupId>
  <droolsArtifactid>${drools.artifactid}</droolsArtifactid>
  <droolsVersion>${drools.version}</droolsVersion>
  <droolsUrl>${drools.url}</droolsUrl>
   -->

  <!-- Application properties -->
  <applicationTitle>${appTitle}</applicationTitle>
  <previousReleaseVersion>${previousReleaseVersion}</previousReleaseVersion>
  <releaseVersion>${releaseVersion}</releaseVersion>
  <extensionNamespace>${extensionNamespace}</extensionNamespace>
  <changeSetUrl>${changeSetUrl}</changeSetUrl>
  <appSchemaLocation>${appSchemaLocation}</appSchemaLocation>
  <userSchemaLocation>${userSchemaLocation}</userSchemaLocation>
  <workflowServerUrl>${workflowServerUrl}</workflowServerUrl>
  <workflowServerDeploymentId>${workflowServerDeploymentId}</workflowServerDeploymentId>

  <!-- Path info -->
  <defaultEditPathName>${defaultEditPathName}</defaultEditPathName>
  <defaultEditPathUuid>${defaultViewPathUuid}</defaultEditPathUuid>
  <defaultViewPathName>${defaultEditPathName}</defaultViewPathName>
  <defaultViewPathUuid>${defaultViewPathUuid}</defaultViewPathUuid>
  <workflowPromotionPathName>${workflowPromotionPathName}</workflowPromotionPathName>
  <workflowPromotionPathUuid>${workflowPromotionPathUuid}</workflowPromotionPathUuid>

</isaacAppConfig>
	